html.dark {
  background-color: rgb(15, 23, 42);
}


div.link-container{
display: flex;
width: 250px;
}


a:link, a:visited {
  color: white;
  text-align: center;
border-radius: 12px;
  background-color : #273773 ;
   text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px;
}
